extends layout

block content
	h1= NytRoute
	p Welcome to nytone
		table
			thead 
				tr
					th	Article Name
					th	Date Published
					th	Score
			tbody
			-for(var i=0;i<articles;++i){
				tr
					td "#{articleName[i]}"
					td "#{datePublished[i]}"			
					td "#{score[i].toPrecision(3)}"
			-}
	form(method="get", action="/nyttone")
		input(type="text", placeholder="Search Topic", name="searchterm")
		select(id="begindate",name="begindate")
			-for(var y=1851;y<=2016;++y){
			option(value = "#{y}") 
				p	"#{y}"
			-}
		select(id="enddate",name="enddate")
			-for(var y=1851;y<=2016;++y){
			option(value = "#{y}", selected="selected") 
				p	"#{y}"
			-}
		input(type="submit" ,value="Submit")
	
	
