extends layout

block content
	h1= NytRoute
	p Welcome to nytone
		table
			thead 
				tr
					th	Article Name
					th	Date Published
					th	Tone
			tbody
			-for(var i=0;i<articles;++i){
				tr
					td #{articleName[i]}
					td #{datePublished[i]}
					-if(score[i] >= .3) {
					td Extremly Positive
					-} else if (score[i] >= .1) {
					td Very Positive
					-} else if (score[i] >= .07) {
					td Positive
					-} else if (score[i] <= -.3) {
					td Extremly Negative
					-} else if (score[i] <= -.1) {
					td Very Negative
					-} else if (score[i] <= -.07) {
					td Negative
					-}					
			-}
	form( action="/nyttone",method="get")
		input(type="text", placeholder="Search Topic", name="searchterm")
		select(id="begindate",name="begindate")
			-for(var y=1851;y<=2016;++y){
			option(value = "#{y}") 
				p	"#{y}"
			-}
		select(id="enddate",name="enddate")
			-for(var y=1851;y<=2016;++y){
			option(value = "#{y}", selected="selected") 
				p	"#{y}"
			-}
		input(type="submit" ,value="Submit")
	
	
